<section class="dashboard">
  <div class="container">
    <div>
      <h2 class="section-heading">Solar system link</h2>
      <h1 class="section-large-heading">Solar</h1>
      <p class="discription">Lorem ipsum is placeholder text commonly used...</p>
    </div>
    <div class="col-xs-12 col-md-12 text-center">
      <a href="https://codepen.io/Vinne/pen/LYqNPBV">Test solar system</a>
    </div>
  </div>
</section>
<!-- Welcome section ends -->
{% schema %}
  {
  "name": "Section name",
  "settings": [],
  "presets": 
    [
      {
      "name": "Welcome section Dashboard test",
      "category": "New component"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}