<div>
  <h3> {{section.settings.text}} </h3>
  <p> {{section.settings.description}} </p>
</div>

{% schema %}
  {
    "name": "Material Design",
    "settings": [
      {
        "type": "text",
        "label": "title",
        "id": "material-design-title"
      },{
        "type": "text",
        "label": "description",
        "id": "material-design-description"
      },{
        "type": "text",
        "label": "image",
        "id": "material-design-image"
      }
    ]
  }
{% endschema %}


