{{ 'component-material-design.css' | asset_url | stylesheet_tag }}

<div class="material-design__container">
  <div class="material-design__heading"> 
    <h3> {{section.settings.text}} </h3>
    <p> {{section.settings.description}} </p>
  </div>
  <div class="material-design__multicolumn">
    <div class="material-design__multicolumn-item" > qwqweqweqweqeqweqew</div>
    <div class="material-design__multicolumn-item" > qwqweqweqweqeqweqew</div>
    <div class="material-design__multicolumn-item" > qwqweqweqweqeqweqew</div>
    <div class="material-design__multicolumn-item" > qwqweqweqweqeqweqew</div>
  </div>
</div>

{% schema %}
  {
    "name": "Material Design",
    "settings": [
      {
        "type": "text",
        "label": "title",
        "id": "material-design-title"
      },{
        "type": "text",
        "label": "description",
        "id": "material-design-description"
      },{
        "type": "text",
        "label": "image",
        "id": "material-design-image"
      }
    ],
    "presets": [{
    "name": "Material Design for PDP",
    "category": "Text"
  }]
  }
{% endschema %}
