{{ 'component-material-design.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="material-design__container">
    <div class="material-design__container-header"> 
      <h3> {{section.settings.text}} Title </h3>
      <p> {{section.settings.description}} Description </p>
    </div>
    <div class="material-design__container-multicolumn">
      <div class="container__multicolumn-item" > 
        <div class="multicolum-item__title">Delivery time</div>
        <div class="multicolum-item__description"> Your delivery time is</div>
    </div>

    <div class="container__multicolumn-item" > 
      <div class="multicolum-item__title">Material 1</div>
      <div class="multicolum-item__description"> Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</div>
    </div>

    <div class="container__multicolumn-item" > 
      <div class="multicolum-item__title">Material 2</div>
      <div class="multicolum-item__description"> Pair text with an image to focus on your chosen prvailability, style, or even provide a review.</div>
    </div>

    <div class="container__multicolumn-item" > 
      <div class="multicolum-item__title">Material 3</div>
      <div class="multicolum-item__description"> Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Material Design",
    "settings": [
      {
        "type": "text",
        "label": "title",
        "id": "material-design-title"
      },{
        "type": "text",
        "label": "description",
        "id": "material-design-description"
      },{
        "type": "text",
        "label": "image",
        "id": "material-design-image"
      },{
        "type": "text",
        "label": "delivery-time",
        "id": "material-design-delivery-time"
      },{
        "type": "text",
        "label": "material-1",
        "id": "material-design-material-1"
      },{
        "type": "text",
        "label": "material-2",
        "id": "material-design-material-2"
      },{
        "type": "text",
        "label": "material-3",
        "id": "material-design-material-3"
      }
    ],
    "presets": [{
    "name": "Material Design for PDP",
    "category": "Text"
  }]
  }
{% endschema %}
