<h1>Testing new section: {{ section.settings.default }}</h1>
<div style="display:flex; justify-content:center">
  <a href="https://codepen.io/Vinne/pen/LYqNPBV"> Link to Codepen</a>
  <div class="solar-system">
    <div class="sun">
      <div class="mercury planet"></div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Section for tests",
    "settings": [
      {
        "type": "text",
        "id": "test-sec",
        "label": "Heading",
        "default": "First Test Heading"
      }
    ],
    "presets": [
      {
        "name": "tests"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}