:root {
    --image-size: 10rem;
    --image-padding: 2rem;
}

.material-design__container {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    gap: 0.5rem;
}

.material-design__container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.material-design__container-header {
    padding: 1rem 20%;
}

.material-design__title {
    font-weight: bold;
}

.material-design__container-multicolumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem
}

.container__multicolumn-item {
    display: flex;
    padding: 1rem;
    border: 1px solid gray;
    flex-direction: column;
    flex-basis: 50%;
    box-sizing: content-box;
}

.multicolum-item__title {
    font-weight: bold;
}

.material-design__text--indent {
    text-indent: 1rem;
}

.material-design__text--center {
    text-align: center;
}

.delivery-time__days-left {
    font-size: 5rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.delivery-time__date {
    display: block;
    font-weight: bold;
    margin: 0.25rem 0;
    text-align: center;
}

.delivery-time__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-design__image {
    width: 10rem;
    height: 10rem;
    background-color: gray;
    border-radius: 10%;
}

.material-design__container-top {
    border: 1px solid gray;
}

.material-design__image-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: var(--image-padding);
}

/* small screens */

@media screen and (min-width: 750px) {
    .material-design__image-container {
        position: relative;
        display: flex;
        justify-content: end;
        margin: var(--image-padding) var(--image-padding);
        bottom: calc(var(--image-padding) * 2 + var(--image-size));
        margin-bottom: calc((var(--image-padding) + var(--image-size)) * -1)
    }

    .material-design__container-multicolumn {
        display: flex;
        justify-content: stretch;
        gap: 0.5rem;
    }

    .container__multicolumn-item {
        display: flex;
        padding: 1rem;
        border: 1px solid gray;
        flex-direction: column;
        flex-grow: 1;
        flex: 1;
    }
}