.material-design__container {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    gap: 0.5rem;
}

.material-design__container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
    padding: 1rem;
}

.material-design__container-multicolumn {
    display: flex;
    justify-content: stretch;
    gap: 0.5rem;
}

.container__multicolumn-item {
    display: flex;
    padding: 1rem;
    border: 1px solid gray;
    flex-direction: column;
    flex-grow: 1;
    flex: 1;
}

.multicolum-item__title {
    font-weight: bold;
}

.material-design__text--indent {
    text-indent: 1rem;
}

.material-design__text--center {
    text-align: center;
}